In [1]:
# producing formatted output using % operator
s1 = "helloworld"
ss = 'a'

try:
    s1.index(ss)
except:
    print("substring '%s' is not found" %ss)

substring 'a' is not found

In [3]:
# to display the value with specified number of decimal precision, '%' operator is used

pi = 3.14159

print("pi=%f" %pi) # output will be 3.14159
print("pi=%0.2f" %pi) # output will be 3.14159

pi=3.141590
pi=3.14

In [4]:
# to produce a output something like 'bob has scored 80 marks in maths', 
# using variables name,mark and subject with '%' opertor we do as given below

name='bob'
mark=80
subject='maths'

print("%s has scored %d marks in %s" %(name,mark,subject))

bob has scored 80 marks in maths

In [5]:
# the output produced in the above statement, can also be done using concatenation 
# However, it involves type casting whereever necessary. 
# Writing this way has less readability when number of variables are more

print(name+" has scored "+str(mark)+" marks in "+subject)

bob has scored 80 marks in maths

In [7]:
# Even with the information(data) in the form of a dictionary, the same output could be produced

d1 = {'name':'bob','mark':80,'subject':'maths'}

print("%(name)s has scored %(mark)d marks in %(subject)s" %d1)

bob has scored 80 marks in maths

In [11]:
"""Examples for using format function"""

# in the below statement the pair of curly braces are substituted with the parameters of 
# format function is same order how they were passed
print("We have {} students in {}".format(60, "Computer Science"))  # output will be - We have 60 students in Computer Science

# if the values passed in different order to the format function, index can be used to substitute appropriately
print("We have {1} students in {0}.".format("Computer Science",60)) # output will be the same as above statement

We have 60 students in Computer Science
We have world students in hello.

In [12]:
# variables can also be passed to format function

department='Computer Science'
num_of_students=60
print("We have {1} students in {0}.".format(department,num_of_students)) # output will be the same as above statement

We have 60 students in Computer Science.

In [13]:
# using identifiers inside the template

department='Computer Science'
num_of_students=60
print("We have {numbers} students in {dept}.".format(dept = department,numbers = num_of_students)) # output will be the same as above statement

We have 60 students in Computer Science.