In [3]:
# merge data frames

import pandas as pd

df1 = pd.read_excel('names.xlsx',sheet_name='Sheet1')

#print(df1)

df2 = pd.read_excel('names.xlsx',sheet_name='Sheet2')

#print(df2)

#equi join
df3 = pd.merge(df1,df2,on='department')

print(df3)

    name  age  department departmentname
0    tom    20        EEE     Electrical
1  alice    21        ECE  Communication
2    bob    20        CSE       Computer

In [4]:
# left join
df3 = pd.merge(df1,df2,on='department',how='left')

print(df3)

    name  age  department departmentname
0    tom    20        EEE     Electrical
1  alice    21        ECE  Communication
2    bob    20        CSE       Computer
3    joe    21       CHEM            NaN

In [5]:
# right join
df3 = pd.merge(df1,df2,on='department',how='right')

print(df3)

    name  age  department departmentname
0    tom  20.0        EEE     Electrical
1  alice  21.0        ECE  Communication
2    bob  20.0        CSE       Computer
3    NaN   NaN         IT    Information

In [7]:
# outer join
df3 = pd.merge(df1,df2,on='department',how='outer')

print(df3)

    name  age  department departmentname
0    tom  20.0        EEE     Electrical
1  alice  21.0        ECE  Communication
2    bob  20.0        CSE       Computer
3    joe  21.0       CHEM            NaN
4    NaN   NaN         IT    Information